---
import BaseHead from "../../components/BaseHead.astro";
import Header from "../../components/Header.astro";
import Footer from "../../components/Footer.astro";
import { TITLE_SITE, DESCRIPTION } from "../../consts";
import { getCollection } from "astro:content";
import FormattedDate from "../../components/FormattedDate.astro";
import HLink from "../../components/HLink.astro";

const posts = (await getCollection("blog")).sort(
  (a, b) => a.data.pubDate.valueOf() - b.data.pubDate.valueOf()
);
---

<!DOCTYPE html>
<html lang="pt-br" class="bg-bg">
  <head>
    <BaseHead title="Ruan Victor" description={DESCRIPTION} />
  </head>
  <body
    style="margin-left: auto; margin-right: auto; width: 100%; max-width: 768px;"
  >
    <!-- <Header /> -->
    <main>
      <HLink href="/">← voltar</HLink>
      <div class="container-2">
        {
          posts
            .map((post) => (
              <section class="container-2">
                <a href={`/blog/${post.slug}/`} class="link-post">
                  {post.data.title}
                </a>
                <p class="paragraph-post">{post.data.description}</p>
                <FormattedDate clas="text-white" date={post.data.pubDate} />
              </section>
            ))
            .reverse()
        }
      </div>
    </main>
    <Footer />
  </body>
</html>
